@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'segoe_uiregular';
    src: url('assets/font/segoeui-webfont.eot');
    src: url('assets/font/segoeui-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/font/segoeui-webfont.woff') format('woff'),
         url('assets/font/segoeui-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

*{
	margin:0;
	padding:0;
	border:none;
}

html,body{
	height:100%;	
}

body{
	font-family:Helvetica, Arial, sans-serif;
	background-color:#efefef;
	min-width:1024px;
	min-height:100%;
	position:relative;	
}

.segoe-font{
	font-family:'segoe_uiregular';
}

a{
	cursor:pointer;
	font-family:Helvetica, Arial, sans-serif;
	font-size:13px;
	text-decoration:none;
	color:#0799aa;
}

a:hover{
	text-decoration:underline;	
}

input{
	outline:0;	
}
